
<div class="modal fade" id="guesswhoModal" tabindex="-1" aria-labelledby="guesswhoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="guesswhoModalLabel">Your guess is...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action=<%= game_path(@game) %> method="get" accept-charset="UTF-8" >
        <div class="modal-body d-flex justify-content-evenly options">
          <input type="hidden" name="character[id]" value="" />
          <% @characters.each do |character| %>
            <% if !@game.user_rejected_characters.include?(character.id) %>
              <div class="d-flex flex-column text-center">

                <label class="" for="character_id_<%= character.id %>">
                  <input type="radio" name="character[id]" value=<%= character.id %> id="character_id_<%= character.id %>">
                  <%= image_tag(character.image_url, class: "card-rounded__for_modal") %>
                </label>

                <p class="p-2 m-0">
                  <%= character.character_name  %>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="mb-4 mx-4 p-1 d-flex justify-content-end">
          <input name="submit" id="guesswho" type="submit" class="btn-arcade-green" value="Guess who" data-disable-with="Guess who" />
        </div>
      </form>
    </div>
  </div>
</div>
