<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo-guesswho.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to new_game_path, class: "nav-link" do %>
              <%= image_tag "start-flag.png" %>
              <span>Start game</span>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "user-avatar.png", class: "avatar-squared dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to score_user_path(current_user), class: "dropdown-item" do %>
                <i class="fa-solid fa-trophy"></i>
                <span>Score</span>
              <% end %>
              <%= link_to profile_user_path(current_user), class: "dropdown-item" do %>
                <i class="fa-regular fa-user"></i>
                <span>Profile</span>
              <% end %>
              <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Log out</span>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
