<div class="wrapper-background">
  <div class="container">

    <h1>Choose your character!</h1>
    <%= form_for (@game) do |f| %>
      <div class="parent-game options rectangle-red-xxl">
        <input type="hidden" name="game[id]" value="" />
        <% @characters.each do |character| %>
          <div class="">

            <div class="position-relative-for-cards">
              <div class="box-bounce bounce">
                <label for="game_id_<%= character.id %>">
                  <input type="radio" value="<%= character.id %>" name="game[id]" id="game_id_<%= character.id %>" />
                  <%= image_tag(character.image_url, class: "card-rounded") %>
                </label>
                <div class="card-checkbox d-none">
                  <i class="fa-solid fa-check"></i>
                </div>
              </div>
              <div class="slot-white"></div>
              <%# <div class="card-title-white"> %>
                <%#=<p class=""><%#= character.character_name  %><%#=</p>
              <%# </div> %>
            </div>

          </div>
        <% end %>
      </div>
      <input type="submit" class='btn-ghost mb-5' name="commit" value="Let's play!" data-disable-with="Create Game" />
    <% end %>
  </div>
</div>
